@import url('https://fonts.googleapis.com/css?family=Chewy');

body {
  text-align: center;
}

div {
  display: block;
  /*vertical-align: middle;*/
}

.gradient {
  background-image:
    radial-gradient(
      circle,
      #fff,
      #000000
      );
  border-top: 20px black solid;
  border-bottom: 20px black solid;
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

p {
  font-family: 'Chewy', Arial;
  font-size: 80px;
  padding-top: 120px;
  /*vertical-align: middle;*/
}
