@import url('https://fonts.googleapis.com/css?family=Chewy');

body {
  background-color: #000;
  margin: 0;
  text-align: center;
}

.gradient {
  background-image:
    radial-gradient(
      circle,
      #fff,
      #000000
      );
  border-top: 20px black solid;
  border-bottom: 20px black solid;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}

#time {
  align-items: center;
  display: inline-block;
  font-family: 'Chewy', Arial;
  font-size: 80px;
  margin: 0 auto;
  padding-top: 80px;
}

#circleBorder {
  border: 3px solid black;
  border-radius: 140px;
  height: 280px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 280px
}

#hourglass {
  display: block;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 20%;
}

footer {
  color: #fff;
  font-family: 'Chewy', Arial;
  font-size: 16px;
  padding: 10px;
}

a#githublink {
  color: #cc66ff;
  text-decoration: none;
}
