@import url('https://fonts.googleapis.com/css?family=Chewy');

body {
  text-align: center;
}

.gradient {
  background-image:
    radial-gradient(
      circle,
      #fff,
      #000000
      );
  border-top: 20px black solid;
  border-bottom: 20px black solid;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}

#time {
  align-items: center;
  display: inline-block;
  font-family: 'Chewy', Arial;
  font-size: 80px;
  margin: 0 auto;
  padding-top: 80px;
}

#hourglass {
  display: block;
  height: 20%;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 20%;
}

footer {
  color: magenta;
  font-family: 'Chewy', Arial;
  font-size: 16px;
  padding: 10px;
}

a#githublink {
  text-decoration: none;
}
